
venv/
server/__pycache__/
venv/
__pycache__/

__pycache__/

server/borrador.py
server/color_tracker_test.py

client/ejectuable.py
client/index.html
client/last_ip.txt


*.py[cod]

*.pyo

*.pyd
*.pytest_cache/

